<% content_for :title do %>Malmö Startups Metrics<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="visitor_count" data-view="Graph" data-title="Google Analytics visits/day" style="background-color:#F8BE00 ;">
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="instagram_userinfo" data-view="List" data-unordered="true" data-title="Instagram stats" data-moreinfo="for @malmostartups" style="background-color:#FF2E33;">
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="facebook_likes" data-view="Meter" data-bgcolor="#fff" data-moreinfo="goal: 400" data-min="0" data-max="400" data-title="FB Page Likes" style="background-color:#3FC09A ;">
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="facebook_group_posts" data-view="Number" data-moreinfo="Malmö Startups" data-title="FB Group posts" style="background-color:#3FC09A ;">
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="facebook_talking_about_count" data-view="Number" data-title="FB Page Mentions" style="background-color:#FF6820 ;">
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="facebook_likes_per_post" data-view="Graph" data-title="FB group post & comment likes per day" style="background-color:#3FC09A"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fblinkstat" data-view="List" data-unordered="true" data-title="FB site stats" data-moreinfo="for http://malmostartups.com" style="background-color:#FF6820 ;">
      </div>
      <i class="icon-facebook icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="facebook_comments_per_post" data-view="Graph" data-title="FB group comments per day" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_user_tweets" data-view="Number" data-title="Tweets" data-moreinfo="by @malmostartups" style="background-color:#FF2E33 ;">
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_user_followers" data-view="Meter" data-moreinfo="goal: 400" data-min="0" data-max="400" data-title="Twitter followers" style="background-color:#FF2E33 ;">
      </div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tumblr_posts_total" data-view="Number" data-title="Tumblr posts" style="background-color:#3FC09A ;">
      </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="tumblr_posts_per_day" data-view="Graph" data-title="Tumblr posts per day" style="background-color:#F8BE00"></div>
    </li>
  </ul>
  <center><div style="font-size: 14px">Malmö Startups Metrics</div></center>
</div>
