<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="visitor_count" data-view="Graph" data-title="Visitors This Month" style="background-color:#F34A53 ;">
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="facebook_likes" data-view="Number" data-title="FB Likes" style="background-color:#1E4147 ;">
      </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="facebook_talking_about_count" data-view="Number" data-title="FB Mentions" style="background-color:#1E4147 ;">
      </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="facebook_group_posts" data-view="Number" data-title="FB Group posts" style="background-color:#1E4147 ;">
      </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fblinkstat" data-view="List" data-unordered="true" data-title="FB link stats" data-moreinfo="for malmostartups.com links" style="background-color:#1E4147 ;">
      </div>
      <i class="icon-facebook icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_user_tweets" data-view="Number" data-title="Tweets" style="background-color:#437356 ;">
      </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_user_followers" data-view="Number" data-title="Twitter followers" style="background-color:#437356 ;">
      </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_user_following" data-view="Number" data-title="Twitter following" style="background-color:#437356 ;">
      </div> 
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="instagram_userinfo" data-view="List" data-unordered="true" data-title="Instagram stats" data-moreinfo="for @malmostartups" style="background-color:#AAC789 ;">
      </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tumblr_posts" data-view="Number" data-title="malmostartups tumbler posts" style="background-color:#FA8200 ;">
      </div>
    </li>
  </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>
